<input type="text"/>
<div>
    <img src="http://bm.img.com.ua/nxs/img/prikol/images/large/1/2/308321_879389.jpg" height="500px">
</div>
<script src="./index.js" type="text/javascript"></script>
<script type="text/javascript">
    loadScript("./build/app.js", function () {
        _initClickagy({
            "aid": "3", "list": "11huh75ojm0a29",
            "ch": 9, "pid": "test",
            "email_ch": 12,
            "trigger": [{'type': 'onclick', 'val': 'register', 'execute': {'list': 'abc', 'conv_v': 25}},
                {'type': 'sec', 'val': 5, 'execute': {'list': 'abc', 'conv_v': 25}}],
            "ad": {
                "w": 300,
                "h": 250,
                "type": "native", //"standard", "native-float-bottom-left" "native-float-bottom-right"
                "pos": "block" //right, left
            }, "debug": true
        });
    });
</script>
